footer .container{
    padding-bottom: 0;
    /*max-width: 1440px;*/
}

footer > *, footer a{
 color: white;
}

footer .logo{
    /*width:13em;*/
    margin-bottom: 2em;
    z-index: 2;
    position: relative;
}

.stiker-partner{
    width: 5em;
    margin-left: 4em;
}

.logos-container{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: flex-start;
}
.info-container{
    width: 70%;
}
.info{
    grid-template-columns: repeat(auto-fill,minmax(7.5rem,1fr));
    grid-template-rows: 2fr;
    gap: 0.5rem;
}

.sub-footer.container{
    padding-top: 0;

}
.info .btn{
    display: inline-block;
    margin-bottom: 1.5em;
    width: 85%;
    text-align: center;
}

.social-container{
    text-align: center;
    margin-bottom: 1em;
}
.social-container a{
    margin-left: 1em;
}
.copyright{
    background-color: var(--pinkColor);
    padding: .3rem;
}
.copyright p{
    text-align: center;
    color: white;
    margin: 0rem;
}
.sub-footer-container h2{
    font-weight: 500;
    margin-top: 0;
    font-size: 1.2rem;
}
.sub-footer-container ul{
    padding-left: 0;
}
.sub-footer-container ul li, .sub-footer-container ul li a{
    margin-bottom: .7em;
    background: #C41330;
    background: linear-gradient(to right, #C41330 0%, #FF8585 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;

}

.sub-footer-container ul li a:hover{
    color: var(--colorYellow);
}
@media screen and (max-width:575px) {

    footer .container{
        flex-direction: column;
        align-items: center;
    }

    .info{
      text-align: center;
    }
    
    .info .btn{
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }
    .stiker-partner{

        margin-left: 0;
    }
    .logos-container{
        width: 100%;
        align-items: center;
    }
}

.sub-footer.container{
padding-bottom: 1em;
}
footer .logos-container{
    position: relative;
}
.shape-background{
    position: absolute;
    height: 6rem;
    width: 300%;
    background: white;
    border-radius: 50px;
    z-index: 1;
    top: -15px;
    left: -200%;
}

footer .logos-container p{
    font-size:0.9rem ;
}

footer .icon{
    width: 30px;
    height: auto;
}
.social-container a:nth-child(3) img{
    width: 38px;
    
}
footer .icon.mini{
    width: 22px;
    height: auto;
}

footer a{
    font-size:1.2rem;
}

@media screen and (min-width:1118px) {
    
    .sub-footer-container:last-child{
        grid-column: 5 / 7;
    }
}

@media screen and (max-width:1125px){
    .info.grid{
        grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    }
}